a {
   style=color:rgb(100,50,200);
   text-decoration:none;
 }
h3{

 font-family:cursive;arail;
 margin-left:80px;
}
p{
  margin:auto;
  color: blue;
}
div
{

margin-top: 100px;
margin-left:200px;
}
